<div class="navbar-o">
    <a href="#">Home</a>
    <a href="/about">About</a>
    <a href="/cms">CMS</a>
    <div class="dropdown-o">
      <button class="dropbtn-o">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content-o">
        <!-- <div class="header">
          <h2>Mega Menu</h2>
        </div>    -->
        <div class="row">
          <div class="column">
            <!-- <h3>Category 1</h3> -->
            <a href="#">Link 1</a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
          </div>
          <div class="column">
            <!-- <h3>Category 2</h3> -->
            <a href="#">Link 2</a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
          </div>
          <div class="column">
            <!-- <h3>Category 3</h3> -->
            <a href="#">Link 3</a>
            <!-- <a href="#">Link 2</a>
            <a href="#">Link 3</a> -->
          </div>
        </div>
      </div>
    </div> 
  </div>
  <router-outlet></router-outlet>
